# Ignore Python cache files
__pycache__/
*.pyc

# Virtual environment folder
venv/

# Environment variables file (do not commit sensitive info)
.env

# Token files for Google Sheets API
token.pickle
credentials.json